/* src/global.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* src/global.css */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;   /* <— her */
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}


